main {
    background-color:rgb(167, 167, 167);
    background-size: cover;
    min-height:80vh;
}

header{
    background-image: url("../images/titleBackground.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    min-height: 20vh;
}

h5 {
    color:white;
}

h2 {
    width: 100%;
}

.weatherCont {
    display: flex;
    flex-wrap: wrap;
}

.cardItem {
    flex: 1 1 15%;
    margin: 1%;  
}

.weatherCont li {
    left: -15px;
}

@media screen and (max-width: 31.15em){
    
    header{
        background-size: 100vh;
    }
}
